*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6a11cb,#2575fc);
    padding:20px;
}

.container{
    width:100%;
    max-width:600px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:25px;
    padding:35px;
    text-align:center;
    color:white;
    box-shadow:0 8px 32px rgba(0,0,0,0.25);
}

h1{
    font-size:2.2rem;
    margin-bottom:10px;
}

.subtitle{
    margin-bottom:10px;
}

#todayDate{
    margin-bottom:25px;
    opacity:0.8;
    font-size:14px;
}

.input-box{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:14px;
    border:none;
    border-radius:12px;
    font-size:16px;
}

button{
    padding:14px;
    border:none;
    border-radius:12px;
    background:#ff7b54;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:all 0.3s ease;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.result{
    display:none;
    justify-content:center;
    gap:15px;
    margin-top:30px;
    flex-wrap:wrap;
    animation:fadeIn 0.8s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.card{
    width:140px;
    padding:20px;
    border-radius:18px;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px) scale(1.05);
}

.card h2{
    font-size:40px;
    margin-bottom:8px;
}

.hero-btn{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    background:#ff7b54;
    color:white;
    padding:12px 20px;
    border-radius:10px;
    transition:0.3s;
}

.hero-btn:hover{
    transform:scale(1.05);
}

.footer{
    margin-top:25px;
    font-size:14px;
}

@media(max-width:500px){

    .card{
        width:100%;
    }

    h1{
        font-size:1.8rem;
    }

}
#extraInfo{
    margin-top:25px;
    text-align:center;
    line-height:1.8;
    font-size:16px;
}

#extraInfo p{
    margin:8px 0;
}

#birthdayMessage{
    margin-top:20px;
    font-size:18px;
    font-weight:600;
    color:white;
}